/* ===========================
   Main Window
   =========================== */

QMainWindow{

    background-color:#1F2126;

}


/* ===========================
   General Widgets
   =========================== */

QWidget{

    background-color:#1F2126;

    color:#F3F4F6;

}


/* ===========================
   Group Boxes
   =========================== */

QGroupBox{

    background-color:#2A2D35;

    border:1px solid #3B3F47;

    border-radius:12px;

    margin-top:14px;

    padding:14px;

    font-size:15px;

    font-weight:bold;

}


QGroupBox::title{

    subcontrol-origin:margin;

    left:14px;

    padding:0px 6px;

    color:#38BDF8;

}


/* ===========================
   Labels
   =========================== */

QLabel{

    background:transparent;

    color:#F3F4F6;

    font-size:14px;

}

QLabel#cardTitle{

    color:#F3F4F6;

}

QLabel#cardValue{

    color:white;

}

QLabel#cardDescription{

    color:#B5BAC1;

    font-size:13px;

}

/* ===========================
   Push Buttons
   =========================== */

QPushButton{

    background-color:#2D313A;

    color:#F3F4F6;

    border:1px solid #40444D;

    border-radius:8px;

    padding:8px 14px;

}

QPushButton:hover{

    background-color:#3A3F49;

    border:1px solid #38BDF8;

}

QPushButton:pressed{

    background-color:#1F8DD6;

}

QPushButton:disabled{

    background-color:#25282F;

    color:#777777;

    border:1px solid #30333A;

}

/* ===========================
   Line Edit
   =========================== */

QLineEdit{

    background-color:#2A2D35;

    color:white;

    border:1px solid #3B3F47;

    border-radius:8px;

    padding:8px;

}

QLineEdit:focus{

    border:1px solid #38BDF8;

}

/* ===========================
   Radio Buttons
   =========================== */

QRadioButton{

    color:#F3F4F6;

    spacing:8px;

    padding:4px;

}

QRadioButton:hover{

    color:#38BDF8;

}

/* ===========================
   Tables
   =========================== */

QTableWidget{

    background:#2A2D35;

    alternate-background-color:#24272E;

    color:white;

    gridline-color:#3C4048;

    border:1px solid #3C4048;

    border-radius:10px;

    selection-background-color:#0078D4;

    selection-color:white;

}

QHeaderView::section{

    background:#343942;

    color:white;

    border:none;

    padding:8px;

    font-weight:bold;

}

/* ===========================
   Scroll Bars
   =========================== */

QScrollBar:vertical{

    background:#1F2126;

    width:12px;

    border:none;

}

QScrollBar::handle:vertical{

    background:#4B5563;

    border-radius:6px;

    min-height:30px;

}

QScrollBar::handle:vertical:hover{

    background:#38BDF8;

}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical{

    height:0px;

}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical{

    background:none;

}

QLabel#protocolValue{

    font-size:18px;

    font-weight:bold;

}

/* ===========================
   Table Widget
   =========================== */

QTableWidget{

    background-color:#2A2D35;

    color:#F3F4F6;

    border:1px solid #3B3F47;

    border-radius:10px;

    gridline-color:#3B3F47;

    selection-background-color:#2563EB;

    selection-color:white;

    alternate-background-color:#252830;

    outline:none;

}


/* ===========================
   Table Header
   =========================== */

QHeaderView::section{

    background-color:#343942;

    color:white;

    border:none;

    border-bottom:1px solid #4A4F58;

    padding:8px;

    font-weight:bold;

}


/* ===========================
   Table Items
   =========================== */

QTableWidget::item{

    padding:6px;

    border:none;

}


QTableWidget::item:selected{

    background:#2563EB;

    color:white;

}


/* ===========================
   Corner
   =========================== */

QTableCornerButton::section{

    background:#343942;

    border:none;

}
/* ===========================
   Vertical ScrollBar
   =========================== */

QScrollBar:vertical{

    background:#1F2126;

    width:12px;

    border:none;

    margin:2px;

}

QScrollBar::handle:vertical{

    background:#4B5563;

    border-radius:6px;

    min-height:40px;

}

QScrollBar::handle:vertical:hover{

    background:#38BDF8;

}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical{

    height:0px;

}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical{

    background:transparent;

}


/* ===========================
   Horizontal ScrollBar
   =========================== */

QScrollBar:horizontal{

    background:#1F2126;

    height:12px;

    border:none;

    margin:2px;

}

QScrollBar::handle:horizontal{

    background:#4B5563;

    border-radius:6px;

    min-width:40px;

}

QScrollBar::handle:horizontal:hover{

    background:#38BDF8;

}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal{

    width:0px;

}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal{

    background:transparent;

}

/* ===========================
   Flip Card
   =========================== */

QFrame#flipCard{

    background-color:#2A2D35;

    border:1px solid #3B3F47;

    border-radius:16px;

    padding:8px;

}


QFrame#flipCard:hover{

    border:1px solid #38BDF8;

}

/* ===========================
   Close Connection Button
   =========================== */

QPushButton#closeConnectionButton{

    background-color:#B91C1C;

    color:white;

    border:1px solid #DC2626;

    border-radius:8px;

    padding: 0px;

    font-weight:bold;

}

QPushButton#closeConnectionButton:hover{

    background-color:#DC2626;

    border:1px solid #EF4444;

}

QPushButton#closeConnectionButton:pressed{

    background-color:#991B1B;

}

QPushButton#closeConnectionButton:disabled{

    background-color:#4B5563;

    border:1px solid #4B5563;

    color:#B0B0B0;

}

